@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,700|Quattrocento:700');

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    background: linear-gradient(to right, #ffc7c7 0%, rgb(255, 255, 255) 49%, #ffc7c7 100%);
    overflow: hidden;
}

body.switched {
    transition: color 0.6s, background-color 0.6s;
}

h1,
h2 {
    text-align: center;
    font-family: "Quattrocento", Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 30pt;
    margin-bottom: 10px;
}

h2 {
    font-size: 14pt;
    font-style: italic;
    font-family: sans-serif;
    font-weight: lighter;
    color: #460000;
}

.header {
    padding-top: 3em;
    padding-bottom: 3em;
}
.header h1 {
    text-transform: uppercase;
    letter-spacing: 0.5em;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    color: #3a0000;
}

/*
  Built-in class:
    # author: Name
*/
.byline {
    font-style: italic;
}

.written-in-ink {
    z-index: 3;
    font-size: 15px;
    letter-spacing: 0.3em;
    font-family: sans-serif;
    text-align: center;
    font-weight: 700;
    position: fixed;
    display: block;
    width: 180px;
    transition: color 0.6s, background 0.6s;
    margin: 0;
    padding-top: 6px;
    padding-bottom: 6px;
    height: 14px;
    top: 0;
    left: 5px;
}

.written-in-ink a {
    font-family: monospace;
    font-weight: normal;
    color: #3a0000;
}
/* 
  Enables <iframe> support work on itch.io when using mobile iOS
*/
.outerContainer {
    position: absolute;
    display: block;
    margin: 0;
    padding: 0;
    -webkit-overflow-scrolling: touch;
    overflow: scroll;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    margin-top: 24px;
    background-size: cover;
    background-repeat: no-repeat;
    scrollbar-color: transparent transparent;
}

::-webkit-scrollbar {
    display: none
}



.container {
    display: block;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    padding-top: 4em;
}

.switched .container {
    transition: background-color 0.6s;
}

p {
    font-size: 13pt;
    color: #222;
    line-height: 1.7em;
    font-weight: lighter;
}

a {
    font-weight: 700;
    color: #460000;
    font-family: sans-serif;
    transition: color 0.6s;
    text-decoration: none;
}

a:hover {
    color: black;
    transition: color 0.1s;
}

strong {
    color: black;
    font-weight: bold;
}

hr {
    color: #460000;
}

.container .hide {
    opacity: 0.0;
}

.container .invisible {
    display: none;
}

.container>* {
    opacity: 1.0;
    transition: opacity 1.0s;
}

/*
  Class applied to all choices
  (Will always appear inside <p> element by default.)
*/
.choice {
    text-align: center;
    line-height: 1.7em;
    margin: 0;
}

/* 
  Class applied to first choice
*/
:not(.choice)+.choice {
    padding-top: 1em;
}

/*
  Class applied to choice links
*/
.choice a {
    font-size: 14pt;
    font-weight: normal;
    font-family: monospace;
}

/* 
  Built-in class:
    The End # CLASS: end
*/
.end {
    text-align: center;
    font-weight: bold;
    color: black;
    padding-top: 20px;
    padding-bottom: 20px;
}

#controls {
    z-index: 4;
    font-size: 9pt;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 6px;
    position: fixed;
    left: 5px;
    top: 22px;
    user-select: none;
    transition: color 0.6s, background 0.6s;
    cursor: pointer;
}
#controls a {
    color: #3a0000;
}

#controls [disabled] {
    color: #ccc;
}

#controls>*:not(:last-child):after {
    content: " | ";
}

/* 
  Dark Theme (Added in Inky 0.10.0)
    # theme: dark
*/

body.dark {
    background: linear-gradient(to right, #0b0010 0%, rgb(0, 0, 0) 49%, #0b0010 100%);
    color: white;
}

.dark p {
    color: #BBB;
}

.dark h1 {
    color: lightblue;
}
.dark h2 {
    color: #add8e691;
}

.dark a {
    color: lightblue;
    transition: color 0.6s;
}

.dark a:hover {
    color: white;
}

.dark strong {
    color: #bbb;
}

.dark .written-in-ink a {
    color: #add8e691;
}
.dark .written-in-ink a:hover {
    color: wheat;
}

.dark #controls a {
    color: #add8e691;
}
.dark #controls a:hover {
    color: wheat;
}

.dark #controls [disabled] {
    color: #444;
}

.dark .end {
    color: white;
}

.dark hr {
    color: lightblue;
}

@media screen and (max-width: 500px) {
    .header h1 {
        letter-spacing: 0.1em;
    }
}

@media screen and (max-width: 980px) {
    .outerContainer {
        margin-top: 44px;
        background-size: cover;
        background-repeat: no-repeat;
    }

    #controls {
        z-index: 2;
        padding-top: 24px;
        top: 0;
        left: 0;
        right: 0;
    }

    .written-in-ink {
        width: 100%;
    }
}